/*Styles for Sam's Website*/

* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #1C2331;
}
/* index Header Title */
.header {
  padding: 10px;
  text-align: center;
  background: #4F5A70;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* carmods Header Title */
.header2 {
  padding: 10px;
  padding-left: 10px;
  text-align: left;
  background: #4e5c69;
  border-radius: 15px;
}
/* socials Header Title */
.header3 {
  padding: 10px;
  text-align: center;
  background: #4F5A70;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* Image */
.image-container {
  display: flex;
  align-items: center;
}
.image-container img {
  margin-right: 5px;
}
.header h1 {
  color: #1C2331;
  font-size: 80px;
  margin: 20px;
  font-weight: normal;

}
/* carmods Header h1 */
.header2 h1 {
  color: white;
}
/* socials Header h1 */
.header3 h1 {
  color: #1C2331;
  font-size: 80px;
  margin: 20px;
  font-weight: normal;
}
/* Style for p */
.p {
  font-size: 18px;
}
/* carmods Style p2 for Updates*/
.p2 {
  font-size: 15px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #4F5A70;
  border-bottom-left-radius: 15px;
}
/* socials Style the top navigation bar for*/
.topnav2 {
  overflow: hidden;
  padding-left: 40%;
  padding-right: 40%;
  padding-bottom: 20px;
  background-color: #4F5A70;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* index button*/
.button a {
  float: left;
  display: block;
  margin: 15px;
  color: #4f5a70;
  background-color: #1C2331;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
  border: 10px;
  border-color: black;
  text-decoration: none;
  transition-duration: 0.250s;
}
/* index button to carmods*/
.button2 a {
  float: right;
  display: block;
  margin: 15px;
  color: #4f5a70;
  background-color: #1c2331;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
  border: 10px;
  border-color: black;
  text-decoration: none;
  transition-duration: 0.250s;
}
/* socials buttons */
.button3 a {
  display: block;
  margin: 15px;
  color: #4f5a70;
  background-color: #1C2331;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  border-radius: 5px;
  border: 10px;
  border-color: black;
  text-decoration: none;
  transition-duration: 0.250s;
}
/* index color on hover */
.button a:hover {
  color: #1C2331;
  background-color: #939DB0;
}
/* index carmods button color on hover*/
.button2 a:hover {
  color: #1C2331;
  background-color: #939DB0;
}
/* socials buttons color on hover*/
.button3 a:hover {
  color: #1c2331;
  background-color: #939DB0;
}
/* socials defines hover color for each button*/
.button3 a.button-twitch:hover {
  background-color: #8d41fe;
}
.button3 a.button-twitter:hover {
  background-color: #1c9aef;
}
.button3 a.button-youtube:hover {
  background-color: #ff0101;
}
.button3 a.button-discord:hover {
  background-color: #5662f6;
}
.button3 a.button-spotify:hover {
  background-color: #1ed760;
}
.button3 a.button-github:hover {
  background-color: #792f9e;
}
/* center column */
.centercolumn {
  width: 100%;
}
/* left column */
.leftcolumn {     
  float: left;
  width: 75%;
  padding-right: 20px;
}
/* index right column */
.rightcolumn {
  float: left;
  width: 25%;
  height: 520px;
  background-color: #4F5A70;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* carmods right column */
.rightcolumn2 {
  float: left;
  width: 25%;
  color: white;
  background-color: #4e5c69;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-radius: 15px;
  border: 20px;
}
/* index card effect for content */
.card {
  color: #1C2331;
  background-color: #4F5A70;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 10px;
}
/* carmods card effect for content*/
.card2 {
  color: white;
  background-color: #3e4c59;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-radius: 15px;
  border: 10px;
}
/* Twitter timeline embed*/
.twitterTimeline {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* index footer */
.footer {
  color: #1C2331;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  background: #4F5A70;
  margin-top: 20px;
  border-radius: 15px;
  border: 15px;
}
/* carmods footer */
.footer2 {
  color: white;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  text-align: center;
  background: #3e4c59;
  margin-top: 20px;
  border-radius: 15px;
  border: 15px;
}
/* Alternate link 1 style */
.alternate-link1 {
  color: #00f8b9;
  text-decoration: none;
}
/* Link style on 1 hover */
.alternate-link1:hover {
  color: #00f8b9;
  text-decoration: underline;
}
/* Alternate link 2 style */
.alternate-link2 {
  color: white;
  text-decoration: none;
}
/* Link style on 2 hover */
.alternate-link2:hover {
  color: white;
  text-decoration: underline;
}
/* Alternate link 3 style */
.alternate-link3 {
  display: block;
  font-weight: none;
  color: white;
  text-decoration: none;
}
/* Link style on 3 hover */
.alternate-link3:hover {
  color: white;
  text-decoration: underline;
}
/* Alternate link 4 style */
.alternate-link4 {
  color: #00f8b9;
  text-align: center;
  text-decoration: none;
}
/* Link style on 1 hover */
.alternate-link4:hover {
  color: #00f8b9;
  text-decoration: underline;
}
/* Index links*/
.link {
  color: #1C2331;
  text-decoration: none;
}
/* Index links hover */
.link:hover {
  text-decoration: underline;
}
/* normal links */
a {
  color: white;
}
/* normal links on hover */
a:hover {
  color: #1f2933;
}
/* fixes boder radius in mobile view */
@media screen and (max-width: 1400px) {
  .topnav {
    width: 100%;
    border-bottom-right-radius: 15px;
  }
}
/* fixes twitter embed size plus border radius */
@media screen and (max-width: 1400px) {
  .rightcolumn {   
    width: 100%;
    height: 520px;
    border-radius: 15px;
  }
}
/* fixes padding in mobile view */
@media screen and (max-width: 1400px) {
  .leftcolumn {
    width: 100%;
    padding-right: 0px;
  }
}
/* fixes padding in carmods */
@media screen and (max-width: 1400px) {
  .rightcolumn2 {
    width: 100%;
    padding-right: 0px;
  }
}