/*Styles for Sam's Website*/

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  padding: 10px;
  background: #1C2331;
}

/* index Header */
.header {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.header h1 {
  color: #939db0;
  font-weight: bold;
  font-size: 7rem;
  margin: 10px;
  font-weight: normal;
}
/* Style for p */
.p {
  font-size: 18px;
}
/* Top nav. bar */
.topnav {
  overflow: hidden;
  background-color: #4F5A70;
  border-radius: 15px;
}
/* socials Top nav. bar */
.topnav2 {
  overflow: hidden;
  background-color: #4F5A70;
  border-radius: 15px;
}
/* index button*/
.button a {
  float: left;
  display: block;
  margin: 15px;
  color: #4f5a70;
  background-color: #1C2331;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border-color: black;
  text-decoration: none;
  font-size: 1rem;
}
/* index carmods button */
.button2 a {
  float: right;
  display: block;
  margin: 15px;
  color: #4f5a70;
  background-color: #1c2331;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border-color: black;
  text-decoration: none;
  font-size: 1rem;
}
/* socials buttons */
.button3 a {
  display: block;
  margin: 15px;
  color: #4f5a70;
  background-color: #1C2331;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border-color: black;
  text-decoration: none;
  font-size: 1rem;
}
/* index color on hover */
.button a:hover {
  color: #1C2331;
  background-color: #939DB0;
}
/* index carmods button color on hover */
.button2 a:hover {
  color: #1C2331;
  background-color: #939DB0;
}
/* socials buttons color on hover */
.button3 a:hover {
  color: #1c2331;
  background-color: #939DB0;
}


/* CENTER COLUMN */
.centercolumn {
  width: 100%;
}
/* left column for main*/
.leftcolumn {     
  float: left;
  width: 75%;
  padding-right: 20px;
}
/* index right column */
.rightcolumn {
  float: left;
  width: 25%;
  height: 545px;
  background-color: #4F5A70;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* index card effect for content */
.card {
  color: #1C2331;
  background-color: #4F5A70;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 20px;
}
.footer-space-card {
  margin-bottom: 205px;
}
/* Separator */
.separator-container {
  padding: 0;
}
.separator {
  border: none;
  border-top: 5px solid #1c2331;
  border-radius: 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* index footer */
.footer {
  color: #1C2331;
  padding: 20px;
  text-align: center;
  background: #4F5A70;
  border-radius: 15px;
  border: 15px;
}
/* Index links*/
.link {
  color: #1C2331;
  text-decoration: none;
}
/* Index links hover */
.link:hover {
  text-decoration: underline;
}
.link2 {
  color: #1C2331;
  font-weight: bold;
  text-decoration: none;
}
.link2:hover{
  text-decoration: underline;
}

/* normal links */
a {
  color: white;
}
/* normal links on hover */
a:hover {
  color: #1f2933;
}
p {
  margin: 5px;
}
/* fixes for mobile view on main and socials */
@media screen and (max-width: 1400px) {
  .topnav {
    width: 100%;
    border-bottom-right-radius: 15px;
  }
  .leftcolumn {
    width: 100%;
    padding-right: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .button a {
    float: none;
    font-size: 16px;
  }
  .button2 a {
    float: none;
    font-size: 16px;
  }
  .button3 a {
    font-size: 16px;
  }
}